@import 'https://fonts.googleapis.com/css?family=Lato:300,400';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body, html {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	height: 100%;
	position: relative;
	background-color: #fafafa;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

a {
	color: #fff;
	text-decoration: none; 
}

.nav-btn {
	width: 100%;
	height: 35px;
	padding-top: 4px;
	color: #D5D3D3;
	background-color: #212121;			 ;
	text-align: center;
	cursor: pointer;
	display: none;
}
.nav-btn:active {
	background-color: #090909; 
}

header {
	height: 50px;
	width: 100%;
	background-color: #274C6B;
	display: none;
}

header .logo {
	opacity: 0.9;
	font-size: 120%;
	padding-top: 9px;
	padding-left: 8px;
	color: #fff;
}
header .logo span {
	font-weight: 300;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
}

.sidebar {
	width: 250px;
	background-color: #302F2F;
	position: fixed;
	top: 0px;
	left: 0;
	bottom: 0;
	box-shadow: 1px 0px 10px #777;
}

.sidebar nav > a {
	font-size: 150%;
	display: inline-block;
	padding: 30px 0px;
	padding-left: 30px;
	opacity: 0.7;
	transition: all 0.2s;
}
.sidebar nav > a:hover {
	opacity: 1;
}

.sidebar nav a span {
	font-weight: 300;
}

.sidebar nav ul {
	list-style: none;
}

.sidebar nav ul li {
	font-size: 70%;
	padding: 19px 0;	
	padding-left: 20px;
	border-bottom: 0.5px solid #111;
	cursor: pointer;
}

.sidebar nav ul li.active {
	background-color: #2980b9;
}

.sidebar nav ul li:hover {
	background-color: #2980b9;
}

.sidebar nav ul li a {
	color: #D7D5D5;
}

.sidebar nav ul li:hover a{
	color: #fff;
}

.main-content {
	width: calc(100% - 250px);
	height: 100%;
	margin-left: 250px;
	padding: 20px 30px;
}
.main-content .panel-wrapper {
	margin: 20px 0;
	box-shadow: 0px 1px 5px #777;
}

.main-content .panel-wrapper .panel-head {
	background-color: #00A5F2;
	color: #fff;
	padding: 10px 10px;
	border: 1px solid #00A5F2;
}
.main-content .panel-wrapper .panel-body {
	padding: 20px 10px;
	font-size: 80%;
}

.cntn {
    margin: 20px auto;
    width: 300px;
    height: 40px;
    font-size: 15px;
    background: #00A5F2;
    background-image: url("https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/upload-512.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.cntn input {
    width: 385px;
    height: 100%;
    margin-left: -85px;
    border: none;
    opacity: 0;
    cursor: pointer;
}

.preview {
	display: none;
	margin: 20px auto;
	width: 300px;
}
.compressed-preview {
	display: none;
	margin: 20px auto;
	width: 300px;
}

.button {
  border: 0;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 20px;
  letter-spacing: .1em;
  background: #00A5F2;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  display: block;
  margin: 15px auto;
  width: 70%;
}
.button:hover, .button:focus {
  background: #179b77;
}

#preview-img {
    width: 100%;
    height: 400px;
}

.quality-input {
    font-size: 16px;
    padding: 15px;
    margin: 18px 0;
    width: 100%;
    background: transparent;
    color: #00A5F2;
    letter-spacing: 1px;
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
    height: 25px;
}
.quality-input:focus {
    border-color: #00A5F2;
    outline: none;
}

.alert {
  padding: 10px;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  position: fixed;
  top: 0px;
  width: 300px;
  height: auto;
  color: white;
  left: calc(50% - 150px);
  text-align: center;
  display: none;
  opacity: 0;
  font-family: "Poppins", sans-serif;
  z-index: 10;
}

.error-alert {
  background-color: rgba(19, 35, 47, 0.9);
  color: #d8000c;
  display: block;
}

.success-alert {
  background-color: rgba(19, 35, 47, 0.9);
  color: #270;
  display: block;
}

/*Placeholder Animation Start*/
::-webkit-input-placeholder { /* Edge */
    color: #00A5F2;
    font-size: 12px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #00A5F2;
    font-size: 12px;
}
::placeholder {
    color: #00A5F2;
    font-size: 12px;
}
/*Place Holder Animation End*/